
<h3>
    Una ocurrió al procesar su solicitud.Por favor Reportelo a soporte para trabajar en esto y areglarlo.
</h3>
<h5>Por favor, póngase en contacto con nosotros en  javi.espinosa@hotmail.com</h5>
<hr />
<h3>Detalles de la excepción:</h3>
<div class="alert alert-danger">
    <h5>Ruta de excepción</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Mensaje de excepción</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Excepción Seguimiento de la pila</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>

